html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0 0 5rem 0;
  font-family: sans-serif;
  background-color: rgb(59, 59, 59);
  text-align: center;
}

.app-title {
  margin-top: 7.5rem;
  margin-bottom: 5rem;
  font-size: 7.5rem;
  background: url('https://thumbs.gfycat.com/AngryMiniatureBoubou-max-1mb.gif');
  background-clip: text;
  color: transparent;
}